{% extends 'base.html' %}

{% block title %}
All Songs
{% endblock title %}

{% block content %}
    <div class="mb-3">
        <h1>All Songs</h1>
        <a href="{% url 'songs:create' %}" class="btn btn-primary">Create Song</a>
    </div>
    {% for song in object_list %}
        <a href={{ song.get_absolute_url }} class="card border shadow text-dark">
            <div class="card-body">{{ song }}</div>
        </a>
    {% empty %}
        <h2>No Songs</h2>
    {% endfor %}
{% endblock content %}
