{% extends "base.html" %}

{% block title %}
All Players
{% endblock title %}

{% block content %}
    <div class="mb-3">
        <h1>All Players</h1>
        <a href="{% url 'players:create' %}" class="btn btn-primary">Add Player</a>
    </div>
    {% if object_list %}
        {% for player in object_list %}
        <a href="{{ player.get_absolute_url }}" class="card p-3 border-0 shadow">
            {{ player.name }} - {{ player.position }} - {{ player.squad_number }}
        </a>
        {% endfor %}
    {% else %}
        <h2>No Players</h2>
    {% endif %}
{% endblock content %}
